@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiDataGrid-cell {
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
}

/* board list */
@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}